{
  "openapi": "3.1.0",
  "info": {
    "title": "BoxBoxF1Fantasy Public Data",
    "summary": "Public static JSON endpoints for F1 Fantasy predictions, race context, articles, videos and changelog data.",
    "description": "BoxBoxF1Fantasy exposes static public JSON files used by the website. These endpoints are intended for browsers, search engines, answer engines, and AI agents that need current F1 Fantasy prediction context. Prediction data is model-based and informational, not guaranteed.",
    "version": "2026.1",
    "contact": {
      "name": "BoxBoxF1Fantasy",
      "email": "boxboxf1fantasy@gmail.com",
      "url": "https://boxboxf1fantasy.com/about/"
    }
  },
  "servers": [
    {
      "url": "https://boxboxf1fantasy.com",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Public data",
      "description": "Static JSON datasets used by the public website."
    },
    {
      "name": "Discovery",
      "description": "Human-readable and agent-readable discovery documents."
    }
  ],
  "paths": {
    "/.well-known/ai-plugin.json": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "AI plugin-style manifest",
        "description": "Plugin-style manifest pointing agents to the BoxBoxF1Fantasy public data OpenAPI contract.",
        "operationId": "get_ai_plugin_manifest",
        "responses": {
          "200": {
            "description": "AI plugin-style manifest.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/llms.txt": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "Well-known LLM guide",
        "description": "Mirror of llms.txt in a well-known location for AI crawler discovery.",
        "operationId": "get_well_known_llms_txt",
        "responses": {
          "200": {
            "description": "Plain-text LLM guide.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/openapi.json": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "Well-known OpenAPI document",
        "description": "Mirror of the public OpenAPI contract in a well-known location for agent discovery.",
        "operationId": "get_well_known_openapi",
        "responses": {
          "200": {
            "description": "OpenAPI document.",
            "content": {
              "application/openapi+json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/security.txt": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "Security contact file",
        "description": "Security contact metadata for responsible vulnerability reporting.",
        "operationId": "get_security_txt",
        "responses": {
          "200": {
            "description": "security.txt file.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "Public data index",
        "description": "Crawlable HTML index of public BoxBoxF1Fantasy JSON endpoints and dataset metadata.",
        "operationId": "get_public_data_index",
        "responses": {
          "200": {
            "description": "HTML public data index.",
            "content": {
              "text/html": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/data/articles.json": {
      "get": {
        "tags": [
          "Public data"
        ],
        "summary": "Articles",
        "description": "Machine-readable source for crawlable race previews, recaps and F1 Fantasy strategy articles.",
        "operationId": "get_articles",
        "responses": {
          "200": {
            "description": "Articles as JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/data/changelog.json": {
      "get": {
        "tags": [
          "Public data"
        ],
        "summary": "Changelog",
        "description": "Machine-readable release notes for notable model, scoring, data and tool changes.",
        "operationId": "get_changelog",
        "responses": {
          "200": {
            "description": "Changelog as JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/data/driver_history.json": {
      "get": {
        "tags": [
          "Public data"
        ],
        "summary": "Driver and constructor history",
        "description": "Historical fantasy scores and price movement used by season views, form tables and value context.",
        "operationId": "get_driver_history",
        "responses": {
          "200": {
            "description": "Driver and constructor history as JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/data/horizon_projections.json": {
      "get": {
        "tags": [
          "Public data"
        ],
        "summary": "Future-round horizon projections",
        "description": "Forward-looking projections used by the multi-week transfer planner when planning beyond the current race.",
        "operationId": "get_horizon_projections",
        "responses": {
          "200": {
            "description": "Future-round horizon projections as JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/data/predictions.json": {
      "get": {
        "tags": [
          "Public data"
        ],
        "summary": "Current F1 Fantasy predictions",
        "description": "Current-round driver and constructor projections, expected points, confidence ranges, prices, value scores and prediction metadata.",
        "operationId": "get_predictions",
        "responses": {
          "200": {
            "description": "Current F1 Fantasy predictions as JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "$schema": "https://json-schema.org/draft/2020-12/schema",
                  "$id": "https://boxboxf1fantasy.com/data/predictions.schema.json",
                  "title": "BoxBoxF1Fantasy current predictions",
                  "description": "Current-round F1 Fantasy driver and constructor projections, prices, confidence ranges, risk metrics and prediction metadata.",
                  "type": "object",
                  "additionalProperties": true,
                  "required": [
                    "season",
                    "round",
                    "race",
                    "drivers",
                    "constructors"
                  ],
                  "properties": {
                    "season": {
                      "type": "integer"
                    },
                    "round": {
                      "type": "integer"
                    },
                    "race": {
                      "type": "string"
                    },
                    "circuit": {
                      "type": "string"
                    },
                    "date": {
                      "type": "string"
                    },
                    "phase": {
                      "type": "string"
                    },
                    "generated_at": {
                      "type": "string"
                    },
                    "exported_at": {
                      "type": "string"
                    },
                    "is_sprint_weekend": {
                      "type": "boolean"
                    },
                    "score_unit": {
                      "type": [
                        "object",
                        "number",
                        "null"
                      ],
                      "additionalProperties": true,
                      "properties": {
                        "quali_gap_median": {
                          "type": "number"
                        },
                        "race_gap_median": {
                          "type": "number"
                        }
                      }
                    },
                    "calibration": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "weather_adjustments": {
                      "type": "object",
                      "additionalProperties": true
                    },
                    "drivers": {
                      "type": "array",
                      "description": "Driver projections sorted for the current race context.",
                      "items": {
                        "type": "object",
                        "additionalProperties": true,
                        "required": [
                          "driver_id",
                          "name",
                          "constructor",
                          "predicted_quali",
                          "predicted_finish",
                          "expected_points",
                          "projected_points",
                          "current_price",
                          "value_score"
                        ],
                        "properties": {
                          "driver_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "constructor": {
                            "type": "string"
                          },
                          "number": {
                            "type": "integer"
                          },
                          "predicted_quali": {
                            "type": "integer"
                          },
                          "predicted_finish": {
                            "type": "integer"
                          },
                          "projected_points": {
                            "type": "number"
                          },
                          "expected_points": {
                            "type": "number"
                          },
                          "expected_points_quali": {
                            "type": "number"
                          },
                          "expected_points_race": {
                            "type": "number"
                          },
                          "confidence": {
                            "type": "number"
                          },
                          "risk": {
                            "type": "string",
                            "enum": [
                              "LOW",
                              "MEDIUM",
                              "HIGH"
                            ]
                          },
                          "risk_rating": {
                            "type": "number"
                          },
                          "dnf_probability": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "expected_overtakes": {
                            "type": "number"
                          },
                          "expected_positions_gained_lost": {
                            "type": "number"
                          },
                          "fastest_lap_probability": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "dotd_probability": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "points_per_million": {
                            "type": "number"
                          },
                          "value_score": {
                            "type": "number"
                          },
                          "current_price": {
                            "type": "number"
                          },
                          "raw_scores": {
                            "type": "object",
                            "additionalProperties": true,
                            "properties": {
                              "quali": {
                                "type": "number"
                              },
                              "race": {
                                "type": "number"
                              }
                            }
                          },
                          "mc_upside": {
                            "type": "number"
                          },
                          "mc_dnf_rate": {
                            "type": "number"
                          },
                          "mc_overtakes_mean": {
                            "type": "number"
                          },
                          "mc_quali_pts_mean": {
                            "type": "number"
                          },
                          "mc_race_pts_mean": {
                            "type": "number"
                          },
                          "mc_total_mean": {
                            "type": "number"
                          },
                          "mc_total_std": {
                            "type": "number"
                          },
                          "mc_total_p5": {
                            "type": "number"
                          },
                          "mc_total_p25": {
                            "type": "number"
                          },
                          "mc_total_p75": {
                            "type": "number"
                          },
                          "mc_total_p95": {
                            "type": "number"
                          }
                        }
                      }
                    },
                    "constructors": {
                      "type": "array",
                      "description": "Constructor projections sorted for the current race context.",
                      "items": {
                        "type": "object",
                        "additionalProperties": true,
                        "required": [
                          "constructor_id",
                          "name",
                          "driver_1",
                          "driver_2",
                          "expected_points",
                          "projected_points",
                          "current_price",
                          "value_score"
                        ],
                        "properties": {
                          "constructor_id": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "full_name": {
                            "type": "string"
                          },
                          "driver_1": {
                            "type": "string"
                          },
                          "driver_2": {
                            "type": "string"
                          },
                          "projected_points": {
                            "type": "number"
                          },
                          "expected_points": {
                            "type": "number"
                          },
                          "expected_points_quali": {
                            "type": "number"
                          },
                          "expected_points_race": {
                            "type": "number"
                          },
                          "expected_pit_stop_pts": {
                            "type": "number"
                          },
                          "expected_dnf_impact": {
                            "type": "number"
                          },
                          "dnf_probability": {
                            "type": [
                              "number",
                              "null"
                            ]
                          },
                          "quali_bonus": {
                            "type": "number"
                          },
                          "risk": {
                            "type": "string",
                            "enum": [
                              "LOW",
                              "MEDIUM",
                              "HIGH"
                            ]
                          },
                          "risk_rating": {
                            "type": "number"
                          },
                          "value_score": {
                            "type": "number"
                          },
                          "current_price": {
                            "type": "number"
                          },
                          "mc_pit_stop_pts": {
                            "type": "number"
                          },
                          "mc_dnf_prob": {
                            "type": "number"
                          },
                          "mc_total_mean": {
                            "type": "number"
                          },
                          "mc_total_std": {
                            "type": "number"
                          },
                          "mc_total_p5": {
                            "type": "number"
                          },
                          "mc_total_p25": {
                            "type": "number"
                          },
                          "mc_total_p75": {
                            "type": "number"
                          },
                          "mc_total_p95": {
                            "type": "number"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/data/predictions.schema.json": {
      "get": {
        "tags": [
          "Public data"
        ],
        "summary": "Prediction JSON schema",
        "description": "JSON Schema describing predictions.json for agents, developers and data consumers.",
        "operationId": "get_predictions_schema",
        "responses": {
          "200": {
            "description": "Prediction JSON schema as JSON.",
            "content": {
              "application/schema+json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/data/season_summary.json": {
      "get": {
        "tags": [
          "Public data"
        ],
        "summary": "Season summary",
        "description": "Race calendar, completed-round flags, current prices and season-level driver/constructor context used by the site.",
        "operationId": "get_season_summary",
        "responses": {
          "200": {
            "description": "Season summary as JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/data/track_data.json": {
      "get": {
        "tags": [
          "Public data"
        ],
        "summary": "Track data",
        "description": "Circuit metadata and track-classification features for current and future race-week context.",
        "operationId": "get_track_data",
        "responses": {
          "200": {
            "description": "Track data as JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/data/weather.json": {
      "get": {
        "tags": [
          "Public data"
        ],
        "summary": "Weather forecast",
        "description": "Race-week weather forecast metadata used by the weather widget and weather-aware prediction notes.",
        "operationId": "get_weather",
        "responses": {
          "200": {
            "description": "Weather forecast as JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/data/youtube_videos.json": {
      "get": {
        "tags": [
          "Public data"
        ],
        "summary": "YouTube videos",
        "description": "Latest BoxBoxF1Fantasy YouTube videos with title, publish date, thumbnail and URL.",
        "operationId": "get_youtube_videos",
        "responses": {
          "200": {
            "description": "YouTube videos as JSON.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/feed.json": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "JSON feed",
        "description": "JSON Feed of recent BoxBoxF1Fantasy pages and updates.",
        "operationId": "get_json_feed",
        "responses": {
          "200": {
            "description": "JSON Feed document.",
            "content": {
              "application/feed+json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/humans.txt": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "Human-readable site ownership and contact file",
        "description": "Plain-text ownership, contact, technology and disclosure notes for BoxBoxF1Fantasy.",
        "operationId": "get_humans_txt",
        "responses": {
          "200": {
            "description": "humans.txt file.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/llms-full.txt": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "Full LLM site summary",
        "description": "Long-form plain-text site summary with current projections, page descriptions, and agent guidance.",
        "operationId": "get_llms_full_txt",
        "responses": {
          "200": {
            "description": "Full plain-text LLM guide.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/llms.txt": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "LLM site guide",
        "description": "Plain-text summary of the most important BoxBoxF1Fantasy pages and data endpoints for AI assistants.",
        "operationId": "get_llms_txt",
        "responses": {
          "200": {
            "description": "Plain-text LLM guide.",
            "content": {
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/search-index.json": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "Machine-readable site index",
        "description": "Compact JSON index of crawlable BoxBoxF1Fantasy pages with titles, descriptions, canonicals, page types and headings.",
        "operationId": "get_search_index",
        "responses": {
          "200": {
            "description": "JSON page index.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    },
    "/site.webmanifest": {
      "get": {
        "tags": [
          "Discovery"
        ],
        "summary": "Web app manifest",
        "description": "Installability and identity metadata for the BoxBoxF1Fantasy web application.",
        "operationId": "get_site_webmanifest",
        "responses": {
          "200": {
            "description": "Web app manifest.",
            "content": {
              "application/manifest+json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            }
          }
        }
      }
    }
  },
  "externalDocs": {
    "description": "Public data index",
    "url": "https://boxboxf1fantasy.com/data/"
  }
}
